<header
  class="bg-gradient-to-r from-blue-700 via-blue-600 to-purple-700 text-white shadow-lg p-6 flex flex-col items-center rounded-b-xl"
>
  <a
    href="/src/index.html"
    class="text-3xl font-bold mb-2 hover:text-cyan-200 transition flex items-center gap-2"
  >
    <i class="fa-brands fa-react text-cyan-300 animate-spin-slow"></i>
    React Documentation
  </a>
  <nav class="mt-2">
    <ul class="flex flex-wrap gap-4 justify-center text-sm">
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/getting-started.html"
          >Getting Started</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/components.html"
          >Components</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/state-event-handling.html"
          >State and Event Handling
        </a>
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/hooks.html"
          >Hooks</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/forms.html"
          >Forms and User Input</a
        >
      </li>

      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/api-Integration.html"
          >API Integration and Async Operations</a
        >
      </li>

      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/routing.html"
          >Routing</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/state-management.html"
          >State Management</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/context.html"
          >Context API</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/redux.html"
          >Redux</a
        >
      </li>

      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/performance.html"
          >Performance</a
        >
      </li>
      <li>
        <a
          class="hover:text-cyan-200 transition"
          href="/src/sections/best-practices.html"
          >Best Practices</a
        >
      </li>
    </ul>
  </nav>
</header>
